@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font-weight-bold text-center text-uppercase">Sistema de cadastro de transferências</h1>
    <h3 class="font-weight-light text-center">Para cadastrar uma nova transferência</h3>
    <a class="btn btn-info" href="./transferencia/cadastrar">Clique aqui!</a>
    <br />
    <br />
    <img src="https://s2.glbimg.com/ZRY5cKx3OY87f4-4eBJ_kKT67Ow=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/C/M/jSLt9fTsqYMDcSOxBVaw/carrossel-transferencias-53357.jpg" height="600" width="600"/>
</div>
